// ------------
// index
//
// 1. logo
// 2. loading
// ------------

// ------------
// logo
// ------------

.logo {
  font-size: 2em;
  font-family: 'Pattaya', sans-serif;
  color: black;
  text-shadow: 2px 1px 0px white;
}

// ------------
// loading
// ------------

.loading {
  font-size: 4em;
  color: white;
  text-shadow: 2px 1px 0px black;
  z-index: 1001;
}

@media (max-width: 800px) {
  .loading {
    font-size: 2em;
  }
}
